@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body {
  overflow-x: hidden;
  width: 100%;
  max-width: 100vw;
}
